@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* styling width and height for font icon: font-size */

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

main {
  background-color: var(--violet);
  min-height: 100vh;
}

.overlay {
  background-image: url('./images/bg-desktop.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5em 4.5em 1em 4.5em;
}

header img {
  height: auto;
  width: 16.5%;
}

.content {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-top: 2.7em;
}

.img {
  width: 55%;
}

.img img {
  max-width: 100%;
}

.text-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5em 0 0 3em;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #FFF;
  padding-right: 2em;
}

.description {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 1.1rem;
  padding: 1em 2em 2em 0;
}

button {
  border: none;
  background-color: #FFF;
  color: var(--violet);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  width: 37.5%;
  height: 11.75%;
  border-radius: 2em;
  box-shadow: 0 0.5em 0.5em 0 hsl(254.77deg 38.01% 33.53%);
}

button:hover {
  background-color: var(--soft-magenta);
  color: #FFF;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.75em 0.75em 0;
}

.socials div {
  border-radius: 50%;
  border: 1px solid #FFF;
  height: fit-content;
  width: fit-content;
}

.socials div:hover {
  border-color: var(--soft-magenta);
}

.facebook {
  padding: 0.55em 0.8em;
}

.twitter {
  padding: 0.55em 0.75em;

}

.instagram {
  padding: 0.55em 0.7em;

}

.socials div+div {
  margin-left: 1em;
}

i {
  font-size: 1.1rem;
  color: #FFF;
  margin: 0 auto;
}

i:hover {
  color: var(--soft-magenta);
  cursor: pointer;
}

.fa-instagram {
  font-size: 1.3rem;
}

@media all and (orientation: portrait) and (max-width: 500px) {
  main {
    height: 100dvh;
  }

  .overlay {
    background-image: url('./images/bg-mobile.svg');
    height: 100dvh;
    padding: 2em 2em;
    background-size: 100%;
    background-position: top;
  }

  .img {
    margin: 0 0 4em 0;
  }

  header img {
    width: 43%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .content div {
    width: 100%;
  }

  .text-content {
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 0 1.5em 0;
  }

  .title {
    padding-right: 0;
    font-size: 1.5rem;
  }

  .description {
    padding: 0;
    font-size: 0.95rem;
    line-height: 1.75em;
    padding: 1em 0.75em 0 0.75em;
  }

  button {
    font-size: 0.75rem;
    width: 68%;
    height: unset;
    padding: 0.85em 0;
    margin: 1.5em 0 0 0;
    box-shadow: 0 0.25em 0.5em 0 hsl(254.77deg 38.01% 33.53%);
  }

  .socials {
    margin: 0;
    justify-content: center;
  }

  .facebook {
    padding: 0.3em 0.5em;
  }

  .twitter {
    padding: 0.3em 0.5em;
  }

  .instagram {
    padding: 0.3em 0.55em;
  }

  i {
    font-size: 0.85rem;
  }

  .fa-instagram {
    font-size: 0.8rem;
  }
}